<h3>{{section.settings.heading}}</h3>
<p>{{section.settings.description}}</p>

{%for block in section.blocks %}
	<img src="{{block.settings.image | img_url:'master'}}"/>
{% endfor %}

{% schema %}
  {
    "name": "Icons with Text",
    "settings": [
					{
						"type":"text",
						"label":"Headline for the section",
						"id":"heading"
					},
					{
						"type":"richtext",
						"label":"Description",
						"id":"description"
					}
				]
  }
{% endschema %}
